<div class="container">
	<div class="row">
		<h3>子组件表单按钮事件</h3>
		<accordion closeOthers='true'>
			<accordion-group heading="form 表单用户输入">
			<div class="col-md-12">
				<app-form-input></app-form-input>
			</div>
		</accordion-group>
		<accordion-group heading="模板驱动表单">
			<div class="col-md-12">
				<app-form-model></app-form-model>
			</div>
	</accordion-group>
	<accordion-group heading="form表单验证">

</accordion-group>
</accordion>

</div>
<div class="row">

</div>
<div class="row">

</div>
</div>